

.main{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    color: #ababab;

}
.content{
    color: blue;
}
.footer{
    color:blueviolet;
}